;; shadow-cljs configuration
{:deps     {:aliases [:dev]}
 :dev-http {8000 "resources/public"}
 :builds   {:app {:target     :browser
                  :output-dir "resources/public/js"
                  :asset-path "/js"
                  :devtools   {:reload-strategy :full
                               :preloads [dev.refresh]}
                  :dev {:modules {:core {:init-fn dev.core/init}}}
                  :release {:modules {:core {:init-fn app.core/init}}}}}}
